<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Redefinição de Senha</title>
</head>
<body>
    <p>Olá,</p>
    <p>Recebemos uma solicitação para redefinir a senha da sua conta no sistema Sistoque.</p>
    <p>Por favor, clique no link abaixo para escolher uma nova senha. Este link é válido por um tempo limitado.</p>
    
    <p>
        <a href="{{ protocol }}://{{ domain }}{% url 'authentication:password_reset_confirm' uidb64=uid token=token %}">
            Definir Nova Senha
        </a>
    </p>

    <p>Se você não solicitou esta alteração, por favor, ignore este e-mail.</p>
    <br>
    <p>Atenciosamente,</p>
    <p>Equipe Sistoque</p>
</body>
</html>