{% extends "_base.html" %}
{% load static %}
{% block body_class %}auth-page{% endblock %}
{% block title %}Senha Alterada{% endblock %}

{% block extra_head %}
    <link href="{% static 'css/auth.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="auth-card text-center" style="max-width: 500px;">
    <div class="auth-form-section">
        <h2 class="auth-form-title">Senha Alterada!</h2>
        <p class="text-secondary">Sua senha foi redefinida com sucesso. Agora você já pode fazer o login com sua nova senha.</p>
        <a href="{% url 'authentication:login' %}" class="btn btn-primary mt-3">Ir para o Login</a>
    </div>
</div>
{% endblock %}